:root{
     /* Icons */
     --icon-size: var(--icon-m);
     --icon-stroke: var(--icon-m-stroke-width);
     --icon-xs: 14px;
     --icon-s: 16px;
     --icon-m: 18px;
     --icon-l: 18px;
     --icon-xl: 32px;
     --icon-xs-stroke-width: 2px;
     --icon-s-stroke-width: 2px;
     --icon-m-stroke-width: 1.75px;
     --icon-l-stroke-width: 1.75px;
     --icon-xl-stroke-width: 1.25px;
     --icon-color: var(--text-muted);
     --icon-color-hover: var(--text-muted);
     --icon-color-active: var(--text-accent);
     --icon-color-focused: var(--text-normal);
     --icon-opacity: 0.85;
     --icon-opacity-hover: 1;
     --icon-opacity-active: 1;
     --clickable-icon-radius: var(--radius-s);
}