:root{
     /* Tags */
     --tag-size: var(--font-smaller);
     --tag-color: var(--text-accent);
     --tag-color-hover: var(--text-accent);
     --tag-decoration: none;
     --tag-decoration-hover: none;
     --tag-background: hsla(var(--interactive-accent-hsl), 0.1);
     --tag-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
     --tag-border-color: hsla(var(--interactive-accent-hsl), 0.15);
     --tag-border-color-hover: hsla(var(--interactive-accent-hsl), 0.15);
     --tag-border-width: 0px;
     --tag-padding-x: 0.65em;
     --tag-padding-y: 0.25em;
     --tag-radius: 2em;
     --tag-weight: inherit;

     /* Toggles */
     --toggle-border-width: 2px;
     --toggle-width: 40px;
     --toggle-radius: 18px;
     --toggle-thumb-color: white;
     --toggle-thumb-radius: 18px;
     --toggle-thumb-height: 18px;
     --toggle-thumb-width: 18px;
     --toggle-s-border-width: 2px;
     --toggle-s-width: 34px;
     --toggle-s-thumb-height: 15px;
     --toggle-s-thumb-width: 15px;
}