:root {
    /* Text */
    --text-normal: var(--color-base-100);
    --text-muted: var(--color-base-70);
    --text-faint: var(--color-base-50);
    --text-on-accent: white;
    --text-on-accent-inverted: black;
    --text-error: var(--color-red);
    --text-warning: var(--color-orange);
    --text-success: var(--color-green);
    --text-selection: hsla(var(--color-accent-hsl), 0.2);
    --text-highlight-bg-rgb: 255, 208, 0;
    --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
    --text-accent: var(--color-accent);
    --text-accent-hover: var(--color-accent-2);
    --interactive-normal: var(--color-base-00);
    --interactive-hover: var(--color-base-10);
    --interactive-accent-hsl: var(--color-accent-hsl);
    --interactive-accent: var(--color-accent-1);
    --interactive-accent-hover: var(--color-accent-2);

    /* Indentation guide */
    --indentation-guide-width: 1px;
    --indentation-guide-width-active: 1px;
    --indentation-guide-color: rgba(var(--mono-rgb-100), 0.12);
    --indentation-guide-color-active: rgba(var(--mono-rgb-100), 0.3);
    --indentation-guide-editing-indent: 0.85em;
    --indentation-guide-reading-indent: -0.85em;
    --indentation-guide-source-indent: 0.25em;
    /* Inline title */
    --inline-title-color: var(--h1-color);
    --inline-title-font: var(--h1-font);
    --inline-title-line-height: var(--h1-line-height);
    --inline-title-size: var(--h1-size);
    --inline-title-style: var(--h1-style);
    --inline-title-variant: var(--h1-variant);
    --inline-title-weight: var(--h1-weight);
    --inline-title-margin-bottom: 0.5em;

    /* Italic */
    --italic-color: inherit;
    --italic-weight: inherit;

    /* Line heights */
    --line-height-normal: 1.5;
    --line-height-tight: 1.3;
    /* Links */
    --link-color: var(--text-accent);
    --link-color-hover: var(--text-accent-hover);
    --link-decoration: underline;
    --link-decoration-hover: underline;
    --link-decoration-thickness: auto;
    --link-weight: var(--font-weight);
    --link-external-color: var(--text-accent);
    --link-external-color-hover: var(--text-accent-hover);
    --link-external-decoration: underline;
    --link-external-decoration-hover: underline;
    --link-external-filter: none;
    --link-unresolved-color: var(--text-accent);
    --link-unresolved-opacity: 0.7;
    --link-unresolved-filter: none;
    --link-unresolved-decoration-style: solid;
    --link-unresolved-decoration-color: hsla(var(--interactive-accent-hsl), 0.3);
    /* Lists */
    --list-indent: 2.25em;
    --list-indent-editing: 0.75em;
    --list-indent-source: 0;
    --list-spacing: 0.075em;
    --list-marker-color: var(--text-faint);
    --list-marker-color-hover: var(--text-muted);
    --list-marker-color-collapsed: var(--text-accent);
    --list-bullet-border: none;
    --list-bullet-radius: 50%;
    --list-bullet-size: 0.3em;
    --list-bullet-transform: none;
    --list-numbered-style: decimal;
    --list-bullet-end-padding: 1.3rem;
    /* Paragraphs */
    --p-spacing: 1rem;
    --p-spacing-empty: 0rem;
    /* Horizontal rules */
    --hr-color: var(--background-modifier-border);
    --hr-thickness: 2px;
}