/* 00_wewrite.css 
	定义wewrite的基本色系

*/
:root {
  /* 主色系 */
  --wewrite-primary: #2c3e50;
  --wewrite-secondary: #3498db;
  --wewrite-accent: #e67e22;
  --wewrite-primary-light: #d0e4ff;
  
  /* 中性色 */
  --wewrite-bg: transparent;
  --wewrite-bg-alt: var(--wewrite-primary);
  --wewrite-text: #333333;
  --wewrite-text-alt: #ffffff;
  --wewrite-border:#999999;
  
  /* 状态色 */
  --wewrite-success: #27ae60;
  --wewrite-success: #28a745;
  --wewrite-warning: #ff9800;
  --wewrite-error: #e74c3c;
  --wewrite-danger:  #dc3545;
  --wewrite-blue: #1e3a8a;
}	

:root {
	--wewrite-font-size: 16px;
	--wewrite-line-height: 1.5;
	--wewrite-text-indent: 0;
	--wewrite-letter-spacing: 0;
	--wewrite-word-spacing: 0;
	--wewrite-text-align: left;
	--wewrite-text-decoration: none;
	--wewrite-border-width: 1px;
	--wewrite-border-style: solid;
	--wewrite-border-radius: 4px;
	--wewrite-border-radius-sm: 2px;
	--wewrite-border-radius-lg: 6px;
	--wewrite-border-radius-xl: 8px;
}
body{
	font-size: var(--wewrite-font-size);
	line-height: var(--wewrite-line-height);
	text-indent: var(--wewrite-text-indent);
	letter-spacing: var(--wewrite-letter-spacing);
	word-spacing: var(--wewrite-word-spacing);
	text-align: var(--wewrite-text-align);
	text-decoration: var(--wewrite-text-decoration);
	border-width: var(--wewrite-border-width);
	border-style: var(--wewrite-border-style);
	border-radius: var(--wewrite-border-radius);
} 
