/* wewrite.css 
	Define  the basic style of wewrite

*/
:root {
  /* 主色系 */
  --wewrite-primary: #2c3e50;
  --wewrite-secondary: #3498db;
  --wewrite-accent: #e67e22;
  --wewrite-primary-light: #d0e4ff;
  
  /* 中性色 */
  --wewrite-bg: #ffffff;
  --wewrite-text: #333333;
  
  /* 状态色 */
  --wewrite-success: #27ae60;
  --wewrite-success: #28a745;
  --wewrite-warning: #ff9800;
  --wewrite-error: #e74c3c;
  --wewrite-danger:  #dc3545;
      /* 文本色 */
  --wewrite-text-main: var(--wewrite-text, #212529);
  --wewrite-text-secondary: #6c757d;
  --wewrite-link: var(--wewrite-primary);

    /* 背景色 */
  --wewrite-background: var(--wewrite-bg,#ffffff);
  --wewrite-background-alt: #ececec;

  /* 边框色 */
  --wewrite-border: #acacad;
  --wewrite-border-alt: #ced4da;
  --wewrite-border-radius: 4px;
  --wewrite-header-color: #333;
  --wewrite-header-background-color: #fff;
  /* 阴影色 */
  --wewrite-shadow: rgba(0, 0, 0, 0.15);
  /* 字体 */
}
