:root{
	--link-color: var(--wewrite-secondary, rgb(0, 102, 204));
	--link-hover-color: var(--wewrite-primary-light, rgb(0, 128, 255));
	--link-active-color: var(--wewrite-primary, rgb(0, 128, 255));
}


.wewrite a {
	font-weight: 500;
	text-decoration: none;
	color: var(--link-color, rgb(0, 102, 204));
}

.wewrite a:hover,
.wewrite a:active {
	border-bottom: 1.5px solid var(--link-color, rgb(0, 102, 204));
	color: var(--link-hover-color, rgb(0, 128, 255));
}

.wewrite a:before {
	content: "⇲";
}
