/**
 * 定义微信字体版式样式
 */
:root {

	/* typography */
	--article-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	--article-font-weight: 400;
	--article-word-break: break-word;
	--article-letter-space: 0px;
	--article-text-font-size: 16px;
	--article-text-color: var(--wewrite-text);
	--article-line-height: var(--wewrite-line-height);
	--article-text-align: left;
	--article-text-indent: 0;
	--article-font-style: normal;
}

.wewrite body {
	font-family: var(--article-font-family);
	font-weight: var(--article-font-weight);
	word-break: var(--article-word-break);
	letter-spacing: var(--article-letter-space);
	color: var(--article-text-color);
	font-size: var(--article-text-font-size);
	line-height: var(--article-line-height);
	text-align: var(--article-text-align);
	text-indent: var(--article-text-indent);
	font-style: var(--article-font-style); 
}

