/**
* 定义微信文章的正文样式
*/

:root {
	--paragraph-font-family: var(--article-font-family);
	--paragraph-font-weight: var(--article-font-weight);
	--paragraph-font-size: var(--article-text-font-size);
	--paragraph-word-break: var(--article-word-break);
	--paragraph-text-color: var(--article-text-color);
	--paragraph-letter-space: var(--article-letter-space);
	--paragraph-line-height: var(--article-line-height);
	--paragraph-text-align: var(--article-text-align);
	--paragraph-text-indent: var(--article-text-indent);
	--paragraph-font-style: var(--article-font-style);
}

.wewrite > p {
	font-family: var(--paragraph-font-family);
	font-weight: var(--paragraph-font-weight);
	font-size: var(--paragraph-font-size);
	color: var(--paragraph-text-color);
	word-break: var(--paragraph-word-break);
	letter-spacing: var(--paragraph-letter-space);
	line-height: var(--paragraph-line-height);
	text-align: var(--paragraph-text-align);
	text-indent: var(--paragraph-text-indent);
	font-style: var(--paragraph-font-style);
}
