/**
 * 定义微信文章的修饰性文字的风格：
 - 粗体

 */
:root {
	--strong-font-family: var(--article-font-family);
	--strong-font-weight: 600;
	--strong-font-style: bold;
	--strong-font-size: var(--article-text-font-size);
	--strong-line-height: var(--article-line-height);
	--strong-letter-spacing: var(--article-letter-space);
	--strong-text-align: var(--article-text-align);
	--strong-text-indent: var(--article-text-indent);
	--strong-color: var(--wewrite-primary);
}

.wewrite strong {
	font-family: var(--strong-font-family);
	font-weight: var(--strong-font-weight);
	font-size: var(--strong-font-size);
	line-height: var(--strong-line-height);
	letter-spacing: var(--strong-letter-spacing);
	text-align: var(--strong-text-align);
	text-indent: var(--strong-text-indent);
	color: var(--strong-color);
}
