/**
 * 定义微信文章的修饰性文字的风格：
 - 斜体
 - 

 */
:root {
	--em-font-family: var(--article-font-family);
	--em-font-weight: var(--article-font-weight);
	--em-font-size: var(--article-text-font-size);
	--em-line-height: var(--article-line-height);
	--em-letter-spacing: var(--article-letter-space);
	--em-text-align: var(--article-text-align);
	--em-text-indent: var(--article-text-indent);
	--em-color: var(--article-text-color);
	--em-font-style: italic;
	
}

.wewrite em {
	font-family: var(--em-font-family);
	font-weight: var(--em-font-weight);
	font-size: var(--em-font-size);
	line-height: var(--em-line-height);
	letter-spacing: var(--em-letter-spacing);
	text-align: var(--em-text-align);
	text-indent: var(--em-text-indent);
	color: var(--em-color);
	font-style: var(--em-font-style);
}
