/**
 * 定义微信文章的修饰性文字的风格：
 - 斜体
 - 

 */
:root {
	--u-font-family: var(--article-font-family);
	--u-font-weight: var(--article-font-weight);
	--u-font-size: var(--article-text-font-size);
	--u-line-height: var(--article-line-height);
	--u-letter-spacing: var(--article-letter-space);
	--u-text-align: var(--article-text-align);
	--u-text-indent: var(--article-text-indent);
	--u-color: var(--article-text-color);
	--u-font-style: normal;
	--u-text-decoration: underline;
	--u-text-decoration-thickness: 1px;
	--u-text-decoration-style: solid;
	--u-text-decoration-color: var(--article-text-color);
}

.wewrite u {
	font-family: var(--u-font-family);
	font-weight: var(--u-font-weight);
	font-size: var(--u-font-size);
	line-height: var(--u-line-height);
	letter-spacing: var(--u-letter-spacing);
	text-align: var(--u-text-align);
	text-indent: var(--u-text-indent);
	color: var(--u-color);
	font-style: var(--u-font-style);
	text-decoration:  var(--u-text-decoration);
	text-decoration-thickness: var(--u-text-decoration-thickness);
	text-decoration-style: var(--u-text-decoration-style);
	text-decoration-color: var(--u-text-decoration-color);
}
