/**
 * 定义微信文章的修饰性文字的风格：
 - 斜体
 - 

 */
:root {
	--del-font-family: var(--article-font-family);
	--del-font-weight: var(--article-font-weight);
	--del-font-size: var(--article-text-font-size);
	--del-line-height: var(--article-line-height);
	--del-letter-spacing: var(--article-letter-space);
	--del-text-align: var(--article-text-align);
	--del-text-indent: var(--article-text-indent);
	--del-color: var(--article-text-color);
	--del-font-style: normal;
	--del-text-decoration: line-through;
	--del-text-decoration-thickness: 1px;
	--del-text-decoration-style: solid;
	--del-text-decoration-color: var(--article-text-color);
}

.wewrite del {
	font-family: var(--del-font-family);
	font-weight: var(--del-font-weight);
	font-size: var(--del-font-size);
	line-height: var(--del-line-height);
	letter-spacing: var(--del-letter-spacing);
	text-align: var(--del-text-align);
	text-indent: var(--del-text-indent);
	color: var(--del-color);
	font-style: var(--del-font-style);
	text-decoration:  var(--del-text-decoration);
	text-decoration-thickness: var(--del-text-decoration-thickness);
	text-decoration-style: var(--del-text-decoration-style);
	text-decoration-color: var(--del-text-decoration-color);
}
