:root{
	--codespan-color: #e5c07b;
	--codespan-background-color: #282c34;
	--codespan-padding: 2px 4px;
	--codespan-border-radius: 4px;
	--codespan-font-size: 0.9rem;
	--codespan-font-family: "Fira Code", "Fira Mono", "Source Code Pro", "Roboto Mono", monospace;
	--codespan-font-weight: 500;
}

.wewrite .wewrite-codespan {
	color: var(--codespan-color, #e5c07b);
	background-color: var(--codespan-background-color, #282c34);
	padding: var(--codespan-padding, 2px);
	border-radius: var(--codespan-border-radius, 4px);
	font-size: var(--codespan-font-size, 0.9rem);
	font-family: var(--codespan-font-family, "Fira Code", "Fira Mono", "Source Code Pro", "Roboto Mono", monospace);
	font-weight: var(--codespan-font-weight, 500);

}
