/**
* 定义微信文章的正文和标题的样式
*/

:root {
	/* page  layout */
	--article-max-width: 760px;
	--article-min-width: 200px;
	--article-padding: 1em 1em 1em 1em;
	--article-margin: 0px;

	/* page  background */
	--article-background-color: var(--wewrite-bg,  #ffffff);
	--article-background-image: none;
	--article-color: var(--wewrite-text-main, #333);

	/* page  font */
	--article-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	--article-font-weight: 400;
	--article-word-break: break-word;
	--article-letter-space: 0px;

	/* page  text */
	--article-word-break: break-word;
	--article-text-color: var(--article-color);
	--article-text-font-size: 16px;
	--article-text-letter-space: 0px;
	--article-line-height: 1.5;

	/*  文本对齐方式 */
	--article-text-align: left;
	--article-text-indent: 0;

	/* 标题 */
	--article-heading-color: var(--article-color);
	--article-heading-font-weight: 600;
	--article-heading-line-height: 1.5;
	--article-heading-padding-top: 1.5em;
	--article-heading-padding-bottom: 0.5em;
	--article-heading-margin-top: 0em;
	--article-heading-margin-bottom: 0em;
	--article-heading-text-align: left;

	/* H1 */
	--article-heading-1-color: var(--article-heading-color);
	--article-heading-1-font-size: 28px;
	--article-heading-1-font-weight: 600;
	--article-heading-1-margin-top: 1.5em;
	--article-heading-1-margin-bottom: 1em;
	--article-heading-1-text-align: var(--article-heading-text-align, left);
	/* H2 */
	--article-heading-2-color: var(--article-heading-color);
	--article-heading-2-font-size: 24px;
	--article-heading-2-font-weight: 600;
	--article-heading-2-margin-top: 1.5em;
	--article-heading-2-margin-bottom: 1em;
	--article-heading-2-text-align: var(--article-heading-text-align, left);
	/* H3 */
	--article-heading-3-color: var(--article-heading-color);
	--article-heading-3-font-size: 20px;
	--article-heading-3-font-weight: 600;
	--article-heading-3-margin-top: 1.5em;
	--article-heading-3-margin-bottom: 1em;
	--article-heading-3-text-align: var(--article-heading-text-align, left);
	/* H4 */
	--article-heading-4-color: var(--article-heading-color);
	--article-heading-4-font-size: 18px;
	--article-heading-4-font-weight: 600;
	--article-heading-4-margin-top: 1.5em;
	--article-heading-4-margin-bottom: 1em;
	--article-heading-4-text-align: var(--article-heading-text-align, left);
	/* H5 */
	--article-heading-5-color: var(--article-heading-color);
	--article-heading-5-font-size: 16px;
	--article-heading-5-font-weight: 600;
	--article-heading-5-margin-top: 1.5em;
	--article-heading-5-margin-bottom: 1em;
	--article-heading-5-text-align: var(--article-heading-text-align, left);
	/* H6 */
	--article-heading-6-color: var(--article-heading-color);
	--article-heading-6-font-size: 14px;
	--article-heading-6-font-weight: 600;
	--article-heading-6-margin-top: 1.5em;
	--article-heading-6-margin-bottom: 1em;
	--article-heading-6-text-align: var(--article-heading-text-align, left);

	/* 粗体 */
	--article-strong-color: var(--article-text-color);
	--article-strong-font-weight: 600;
	--article-paragraph-margin-top: 1em;
	--article-paragraph-margin-bottom: 1em;

	/* 斜体	 */
	--article-em-color: var(--article-text-color);
	--article-em-font-style: italic;
	--article-em-font-weight: 400;


	/* 下划线 */
	--article-underline-color: var(--article-text-color);
	--article-underline-text-decoration: underline;
	--article-underline-text-decoration-thickness: 1px;
	--article-underline-text-decoration-style: solid;
	--article-underline-text-decoration-color: var(--article-underline-color);

	/* 删除线 */
	--article-strikethrough-color: var(--article-text-color);
	--article-strikethrough-text-decoration: line-through;
	--article-strikethrough-text-decoration-thickness: 1px;
	--article-strikethrough-text-decoration-style: solid;
	--article-strikethrough-text-decoration-color: var(--article-strikethrough-color);


}


/* 标题 */
.wewrite h1,
.wewrite h2,
.wewrite h3,
.wewrite h4,
.wewrite h5,
.wewrite h6 {
	color: var(--article-heading-color, #333);
	font-weight: var(--article-heading-font-weight, 600);
	line-height: var(--article-heading-line-height, 1.5);
}

.wewrite .wewrite-heading-prefix {
	display: none;
}
.wewrite .wewrite-heading-outbox {
	display: block;

}
.wewrite .wewrite-heading-leaf {
	display: block;
}
.wewrite .wewrite-heading-tail {
	display: none;
	
}

.wewrite h1 {
	font-size: var(--article-h1-font-size, 2.5em);
	margin-top: var(--article-h1-margin-top, 1.5em);
	margin-bottom: var(--article-h1-margin-bottom, 1em);
	margin-left: var(--article-h1-margin-left, 0);
	margin-right: var(--article-h1-margin-right, 0);
	font-weight: var(--article-h1-font-weight, 600);
	line-height: var(--article-h1-line-height, 1.5);
	color: var(--article-h1-color, #333);
	text-align: var(--article-h1-text-align, left);
}

.wewrite h2 {
	font-size: var(--article-h2-font-size, 2em);
	margin-top: var(--article-h2-margin-top, 1.5em);
	margin-bottom: var(--article-h2-margin-bottom, 1em);
	margin-left: var(--article-h2-margin-left, 0);
	margin-right: var(--article-h2-margin-right, 0);
	font-weight: var(--article-h2-font-weight, 600);
	line-height: var(--article-h2-line-height, 1.5);
	color: var(--article-h2-color, #333);
	text-align: var(--article-h2-text-align, left);
}

.wewrite h3 {
	font-size: var(--article-h3-font-size, 1.5em);
	margin-top: var(--article-h3-margin-top, 1.5em);
	margin-bottom: var(--article-h3-margin-bottom, 1em);
	margin-left: var(--article-h3-margin-left, 0);
	margin-right: var(--article-h3-margin-right, 0);
	font-weight: var(--article-h3-font-weight, 600);
	line-height: var(--article-h3-line-height, 1.5);
	color: var(--article-h3-color, #333);
	text-align: var(--article-h3-text-align, left);
}

.wewrite h4 {
	font-size: var(--article-h4-font-size, 1.2em);
	margin-top: var(--article-h4-margin-top, 1.5em);
	margin-bottom: var(--article-h4-margin-bottom, 1em);
	margin-left: var(--article-h4-margin-left, 0);
	margin-right: var(--article-h4-margin-right, 0);
	font-weight: var(--article-h4-font-weight, 600);
	line-height: var(--article-h4-line-height, 1.5);
	color: var(--article-h4-color, #333);
	text-align: var(--article-h4-text-align, left);
}

.wewrite h5 {
	font-size: var(--article-h5-font-size, 1em);
	margin-top: var(--article-h5-margin-top, 1.5em);
	margin-bottom: var(--article-h5-margin-bottom, 1em);
	margin-left: var(--article-h5-margin-left, 0);
	margin-right: var(--article-h5-margin-right, 0);
	font-weight: var(--article-h5-font-weight, 600);
	line-height: var(--article-h5-line-height, 1.5);
	color: var(--article-h5-color, #333);
	text-align: var(--article-h5-text-align, left);
}

.wewrite h6 {
	font-size: var(--article-h6-font-size, 0.8em);
	margin-top: var(--article-h6-margin-top, 1.5em);
	margin-bottom: var(--article-h6-margin-bottom, 1em);
	margin-left: var(--article-h6-margin-left, 0);
	margin-right: var(--article-h6-margin-right, 0);
	font-weight: var(--article-h6-font-weight, 600);
	line-height: var(--article-h6-line-height, 1.5);
	color: var(--article-h6-color, #333);
	text-align: var(--article-h6-text-align, left);
}

.wewrite h1::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 1em;
	background-color: #0078d4;
	margin-right: 10px;
	vertical-align: middle;
}
.wewrite h1::after {
	content: '';
	display: inline-block;
	width: 4px;
	height: 1em;
	background-color: #0078d4;
	margin-right: 10px;
	vertical-align: middle;
}

.wewrite h2::before {
	content: "";
}
.wewrite h2::after {
	content: "";
}

.wewrite h3::before {
	content: "";
}
.wewrite h3::after {
	content: "";
}
.wewrite h4::before {
	content: "";
}
.wewrite h4::after {
	content: "";
}
.wewrite h5::before {
	content: "";
}
.wewrite h5::after {
	content: "";
}
.wewrite h6::before {
	content: "";
}

.wewrite h6::after {
	content: "";
}


/* 正文文字 */
.wewrite {
	color: var(--article-text-color, #333);
	font-size: var(--article-text-font-size, 16px);
	font-family: var(--article-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
	background-color: var(--article-background-color, #ffffff);
	padding: var(--article-padding, 1em);
	margin: var(--article-margin, 0px);
	text-indent: 0;
}
.wewrite > p {
	text-indent: var(--article-text-indent);
	font-weight: var(--article-font-weight, 400);
	word-break: var(--article-word-break, break-word);
	letter-spacing: var(--article-letter-space, 0px);
	line-height: var(--article-line-height, 1.5);
	text-align: var(--article-text-align, left);
}

.wewrite strong {
	font-weight: var(--article-strong-font-weight, 700);
	color: var(--article-strong-color, #333);
}
.wewrite em {
	font-style: var(--article-em-font-style, italic);
	font-weight: var(--article-em-font-weight, 400);
	color: var(--article-em-color, #333);
}
.wewrite u {
	text-decoration: var(--article-underline-text-decoration, underline);
	text-decoration-thickness: var(--article-underline-text-decoration-thickness, 1px);
	text-decoration-style: var(--article-underline-text-decoration-style, solid);
	text-decoration-color: var(--article-underline-text-decoration-color, #333);
}
.wewrite del {
	text-decoration: var(--article-strikethrough-text-decoration, line-through);
	text-decoration-thickness: var(--article-strikethrough-text-decoration-thickness, 1px);
	text-decoration-style: var(--article-strikethrough-text-decoration-style, solid);
}

.wewrite p {
	line-height: inherit;
	margin-top: var(--article-paragraph-margin-top, 1em);
	margin-bottom: var(--article-paragraph-margin-bottom, 1em);
}

.wewrite hr {
	width: 100%;
	border-bottom: solid var(--wewrite-border-width, 1px) var(--article-hr-border-color, #eee);
}
