/**
h1  标题
*/

:root {

	--h1-font-family: var(--heading-font-family);
	--h1-font-weight: var(--heading-font-weight);
	--h1-color: var(--heading-color);
	--h1-font-size: 2.2rem;
	--h1-line-height: var(--heading-line-height);
	--h1-letter-spacing: var(--heading-letter-spacing);
	--h1-text-align: var(--heading-text-align);
	--h1-font-style: var(--heading-font-style);
	--h1-text-decoration-style: var(--heading-text-decoration-style);
	--h1-text-decoration-thickness: var(--heading-text-decoration-thickness);
	--h1-text-decoration-color: var(--heading-text-decoration-color);
	--h1-margin: var(--heading-margin);
	/* --h1-bg: var(--wewrite-primary); */
	--h1-bg: var(--wewrite-bg);
	--h1-border-bottom-width: var(--heading-border-bottom-width);
	/* --h1-border-bottom-color: var(--h1-bg); */
	--h1-border-bottom-color: var(--heading-border-bottom-color);
	--h1-border-bottom-style: var(--heading-border-bottom-style);
	/*  标题前缀 */
	--h1-prefix-display: none;
	--h1-prefix-color: var(--h1-color);
	--h1-font-style: normal;
	--h1-text-align: var(--h1-text-align);
	/*  标题主体 */
	--h1-outbox-display: block;
	--h1-outbox-radius: var(--wewrite-border-radius);
	--h1-outbox-padding: var(--heading-padding);
	/*  标题叶子 */
	--h1-leaf-display: block;
	--h1-leaf-padding: var(--heading-padding);
	--h1-leaf-color: var(--h1-color);
	/*  标题后缀 */
	/* --h1-tail-display: inline-block; */
	--h1-tail-display: none;
	--h1-tail-content: " ";
	--h1-tail-vertical-align: bottom;
	--h1-tail-display: var(--heading-tail-display);
	--h1-tail-content: var(--heading-tail-content);
	--h1-tail-shadow-color: var(--heading-tail-shadow-color);
	--h1-tail-shadow-height: var(--heading-tail-shadow-height);
	--h1-tail-shadow-width: var(--heading-tail-shadow-width);
	--h1-display: flex;
}

.wewrite h1 {
	font-family: var(--h1-font-family);
	font-weight: var(--h1-font-weight);
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);
	letter-spacing: var(--h1-letter-spacing);
	text-align: var(--h1-text-align);
	color: var(--h1-color);
	font-style: var(--h1-font-style);
	text-decoration-style: var(--h1-text-decoration-style);
	text-decoration-thickness: var(--h1-text-decoration-thickness);
	text-decoration-color: var(--h1-text-decoration-color);
	margin: var(--h1-margin);
	border-bottom-width: var(--h1-border-bottom-width);
	border-bottom-style: var(--h1-border-bottom-style);
	border-bottom-color: var(--h1-border-bottom-color);
	display: var(--h1-display);
}


.wewrite h1 .wewrite-heading-prefix {
	display: var(--h1-prefix-display);
	color: var(--h1-prefix-color);
	font-style: var(--h1-font-style);
	text-align: var(--h1-text-align);

}

.wewrite h1 .wewrite-heading-outbox {
	border-top-right-radius: var(--h1-outbox-radius);
	border-top-left-radius: var(--h1-outbox-radius);
	background-color: var(--h1-bg);
	padding: var(--h1-outbox-padding);
	display: block;
}

.wewrite h1 .wewrite-heading-leaf {
	padding-left: var(--h1-leaf-padding);
	padding-right: var(--h1-leaf-padding);
	font-weight: var(--h1-font-weight);
	display: var(--h1-leaf-display);
	color: var(--h1-leaf-color)
}

.wewrite h1 .wewrite-heading-tail {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	display: var(--h1-tail-display);
	content: var(--h1-tail-content);
	vertical-align: var(--h1-tail-vertical-align);
	border-bottom: var(--h1-tail-shadow-height) solid var(--h1-tail-shadow-color);
	border-right: var(--h1-tail-shadow-width) solid transparent;

}
