/**
h2  标题
*/

:root {
	--h2-font-family: var(--heading-font-family);
	--h2-font-weight: var(--heading-font-weight);
	--h2-color: var(--heading-color);
	--h2-font-size: 2rem;
	--h2-line-height: var(--heading-line-height);
	--h2-letter-spacing: var(--heading-letter-spacing);
	--h2-text-align: var(--heading-text-align);
	--h2-font-style: var(--heading-font-style);
	--h2-text-decoration-style: var(--heading-text-decoration-style);
	--h2-text-decoration-thickness: var(--heading-text-decoration-thickness);
	--h2-text-decoration-color: var(--heading-text-decoration-color);
	--h2-margin: var(--heading-margin);
	/* --h2-bg: var(--wewrite-primary); */
	--h2-bg: var(--wewrite-bg);
	--h2-border-bottom-width: var(--heading-border-bottom-width);
	/* --h2-border-bottom-color: var(--h2-bg); */
	--h2-border-bottom-color: var(--heading-border-bottom-color);
	--h2-border-bottom-style: var(--heading-border-bottom-style);
	/*  标题前缀 */
	--h2-prefix-display: none;
	--h2-prefix-color: var(--h2-color);
	--h2-font-style: normal;
	--h2-text-align: var(--h2-text-align);
	/*  标题主体 */
	--h2-outbox-display: block;
	--h2-outbox-radius: var(--wewrite-border-radius);
	--h2-outbox-padding: var(--heading-padding);
	/*  标题叶子 */
	--h2-leaf-display: block;
	--h2-leaf-padding: var(--heading-padding);
	--h2-leaf-color: var(--h2-color);
	/*  标题后缀 */
	/* --h2-tail-display: inline-block; */
	--h2-tail-display: none;
	--h2-tail-content: " ";
	--h2-tail-vertical-align: bottom;
	--h2-tail-display: var(--heading-tail-display);
	--h2-tail-content: var(--heading-tail-content);
	--h2-tail-shadow-color: var(--heading-tail-shadow-color);
	--h2-tail-shadow-height: var(--heading-tail-shadow-height);
	--h2-tail-shadow-width: var(--heading-tail-shadow-width);
	--h2-display: flex;
}
.wewrite h2 {
	font-family: var(--h2-font-family);
	font-weight: var(--h2-font-weight);
	font-size: var(--h2-font-size);
	line-height: var(--h2-line-height);
	letter-spacing: var(--h2-letter-spacing);
	text-align: var(--h2-text-align);
	color: var(--h2-color);
	font-style: var(--h2-font-style);
	text-decoration-style: var(--h2-text-decoration-style);
	text-decoration-thickness: var(--h2-text-decoration-thickness);
	text-decoration-color: var(--h2-text-decoration-color);
	margin: var(--h2-margin);
	border-bottom-width: var(--h2-border-bottom-width);
	border-bottom-style: var(--h2-border-bottom-style);
	border-bottom-color: var(--h2-border-bottom-color);
	display: var(--h2-display);
}


.wewrite h2 .wewrite-heading-prefix {
	display: var(--h2-prefix-display);
	color: var(--h2-prefix-color);
	font-style: var(--h2-font-style);
	text-align: var(--h2-text-align);

}
.wewrite h2 .wewrite-heading-outbox {
	border-top-right-radius: var(--h2-outbox-radius);
	border-top-left-radius: var(--h2-outbox-radius);
	background-color: var(--h2-bg);
	padding: var(--h2-outbox-padding);
	display: block;
}
.wewrite h2 .wewrite-heading-leaf {
	padding-left: var(--h2-leaf-padding);
	padding-right: var(--h2-leaf-padding);
	font-weight:  var(--h2-font-weight);
	display: var(--h2-leaf-display);
	color: var(--h2-leaf-color)
}
.wewrite h2 .wewrite-heading-tail {
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    display: var(--h2-tail-display);
    content: var(--h2-tail-content);
    vertical-align: var(--h2-tail-vertical-align);
	border-bottom: var(--h2-tail-shadow-height) solid var(--h2-tail-shadow-color);
	border-right: var(--h2-tail-shadow-width) solid transparent;
}
