/**
h3  标题
*/

:root {
	--h3-font-family: var(--heading-font-family);
	--h3-font-weight: var(--heading-font-weight);
	--h3-color: var(--heading-color);
	--h3-font-size: 1.8rem;
	--h3-line-height: var(--heading-line-height);
	--h3-letter-spacing: var(--heading-letter-spacing);
	--h3-text-align: var(--heading-text-align);
	--h3-font-style: var(--heading-font-style);
	--h3-text-decoration-style: var(--heading-text-decoration-style);
	--h3-text-decoration-thickness: var(--heading-text-decoration-thickness);
	--h3-text-decoration-color: var(--heading-text-decoration-color);
	--h3-margin: var(--heading-margin);
	/* --h3-bg: var(--wewrite-primary); */
	--h3-bg: var(--wewrite-bg);
	--h3-border-bottom-width: var(--heading-border-bottom-width);
	/* --h3-border-bottom-color: var(--h3-bg); */
	--h3-border-bottom-color: var(--heading-border-bottom-color);
	--h3-border-bottom-style: var(--heading-border-bottom-style);
	/*  标题前缀 */
	--h3-prefix-display: none;
	--h3-prefix-color: var(--h3-color);
	--h3-font-style: normal;
	--h3-text-align: var(--h3-text-align);
	/*  标题主体 */
	--h3-outbox-display: block;
	--h3-outbox-raduis: var(--wewrite-border-radius);
	--h3-outbox-padding: var(--heading-padding);
	/*  标题叶子 */
	--h3-leaf-display: block;
	--h3-leaf-padding: var(--heading-padding);
	--h3-leaf-color: var(--h3-color);
	/*  标题后缀 */
	/* --h3-tail-display: inline-block; */
	--h3-tail-display: none;
	--h3-tail-content: " ";
	--h3-tail-vertical-align: bottom;
}
.wewrite h3 {
	font-family: var(--h3-font-family);
	font-weight: var(--h3-font-weight);
	font-size: var(--h3-font-size);
	line-height: var(--h3-line-height);
	letter-spacing: var(--h3-letter-spacing);
	text-align: var(--h3-text-align);
	color: var(--h3-color);
	font-style: var(--h3-font-style);
	text-decoration-style: var(--h3-text-decoration-style);
	text-decoration-thickness: var(--h3-text-decoration-thickness);
	text-decoration-color: var(--h3-text-decoration-color);
	margin: var(--h3-margin);
	border-bottom-width: var(--h3-border-bottom-width);
	border-bottom-style: var(--h3-border-bottom-style);
	border-bottom-color: var(--h3-border-bottom-color);
}


.wewrite h3 .wewrite-heading-prefix {
	display: var(--h3-prefix-display);
	color: var(--h3-prefix-color);
	font-style: var(--h3-font-style);
	text-align: var(--h3-text-align);

}
.wewrite h3 .wewrite-heading-outbox {
	border-top-right-radius: var(--h3-outbox-raduis);
	border-top-left-radius: var(--h3-outbox-raduis);
	background-color: var(--h3-bg);
	padding: var(--h3-outbox-padding);
	display: block;
}
.wewrite h3 .wewrite-heading-leaf {
	padding-left: var(--h3-leaf-padding);
	padding-right: var(--h3-leaf-padding);
	font-weight:  var(--h3-font-weight);
	display: var(--h3-leaf-display);
	color: var(--h3-leaf-color)
}
.wewrite h3 .wewrite-heading-tail {
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    display: var(--h3-tail-display);
    content: var(--h3-tail-content);
    vertical-align: var(--h3-tail-vertical-align);
}
