/* list */
:root {
	--list-text-color: var(--article-text-color, #333);
	--list-bg-color: var(--article-bg-color, #fff);
	--list-padding-left: 0.5rem;
	--list-line-height: var(--article-line-height, 1.6);
	--list-ul-style: disc;
	--list-ol-style: decimal;
	--list-item-margin-bottom: 3px;
	--list-margin-top: 3px;
	--list-margin-buton: 3px;
	--list-margin-left: 1rem;
	--list-text-indent: 0;
}
.wewrite ol,
.wewrite ul:not(.wewrite .code-section ul) {
	color: var(--list-text-color, #333);
	/* background-color: var(--list-bg-color, #fff); */
	padding-left: var(--list-padding-left);
	margin-left: var(--list-margin-left, 1rem);
	margin-top: var(--list-margin-top, 0);
	margin-bottom: var(--list-margin-bottom, 0);
	line-height: var(--list-line-height, 1.5);
	text-indent: var(--list-text-indent, 0);

}

.wewrite ol {
	list-style-type: var(--list-ol-style, decimal);
}
.wewrite ul:not(.wewrite .code-section ul) {
	list-style-type: var(--list-ul-style, disc);
}


.wewrite ol li,
.wewrite ul li:not(.wewrite .code-section ul li) {
	margin-bottom: var(--list-item-margin-bottom, 3px);
	line-height: var(--list-line-height, 1.6);
	padding-left: var(--list-padding-left);
}

.wewrite ul li::before {
	content: "✔"; /* 或 url(...) */
  	color: green;
  	margin-right: 0.5em;
}

.wewrite ul li ul {
  list-style-type: circle;
  padding-left: var(--list-padding-left);
}
