/**
h5  标题
*/

:root {
	--h5-font-family: var(--heading-font-family);
	--h5-font-weight: var(--heading-font-weight);
	--h5-color: var(--heading-color);
	--h5-font-size: 1.2rem;
	--h5-line-height: var(--heading-line-height);
	--h5-letter-spacing: var(--heading-letter-spacing);
	--h5-text-align: var(--heading-text-align);
	--h5-font-style: var(--heading-font-style);
	--h5-text-decoration-style: var(--heading-text-decoration-style);
	--h5-text-decoration-thickness: var(--heading-text-decoration-thickness);
	--h5-text-decoration-color: var(--heading-text-decoration-color);
	--h5-margin: var(--heading-margin);
	/* --h5-bg: var(--wewrite-primary); */
	--h5-bg: var(--wewrite-bg);
	--h5-border-bottom-width: var(--heading-border-bottom-width);
	/* --h5-border-bottom-color: var(--h5-bg); */
	--h5-border-bottom-color: var(--heading-border-bottom-color);
	--h5-border-bottom-style: var(--heading-border-bottom-style);
	/*  标题前缀 */
	--h5-prefix-display: none;
	--h5-prefix-color: var(--h5-color);
	--h5-font-style: normal;
	--h5-text-align: var(--h5-text-align);
	/*  标题主体 */
	--h5-outbox-display: block;
	--h5-outbox-raduis: var(--wewrite-border-radius);
	--h5-outbox-padding: var(--heading-padding);
	/*  标题叶子 */
	--h5-leaf-display: block;
	--h5-leaf-padding: var(--heading-padding);
	--h5-leaf-color: var(--h5-color);
	/*  标题后缀 */
	/* --h5-tail-display: inline-block; */
	--h5-tail-display: none;
	--h5-tail-content: " ";
	--h5-tail-vertical-align: bottom;
}
.wewrite h5 {
	font-family: var(--h5-font-family);
	font-weight: var(--h5-font-weight);
	font-size: var(--h5-font-size);
	line-height: var(--h5-line-height);
	letter-spacing: var(--h5-letter-spacing);
	text-align: var(--h5-text-align);
	color: var(--h5-color);
	font-style: var(--h5-font-style);
	text-decoration-style: var(--h5-text-decoration-style);
	text-decoration-thickness: var(--h5-text-decoration-thickness);
	text-decoration-color: var(--h5-text-decoration-color);
	margin: var(--h5-margin);
	border-bottom-width: var(--h5-border-bottom-width);
	border-bottom-style: var(--h5-border-bottom-style);
	border-bottom-color: var(--h5-border-bottom-color);
}


.wewrite h5 .wewrite-heading-prefix {
	display: var(--h5-prefix-display);
	color: var(--h5-prefix-color);
	font-style: var(--h5-font-style);
	text-align: var(--h5-text-align);

}
.wewrite h5 .wewrite-heading-outbox {
	border-top-right-radius: var(--h5-outbox-raduis);
	border-top-left-radius: var(--h5-outbox-raduis);
	background-color: var(--h5-bg);
	padding: var(--h5-outbox-padding);
	display: block;
}
.wewrite h5 .wewrite-heading-leaf {
	padding-left: var(--h5-leaf-padding);
	padding-right: var(--h5-leaf-padding);
	font-weight:  var(--h5-font-weight);
	display: var(--h5-leaf-display);
	color: var(--h5-leaf-color)
}
.wewrite h5 .wewrite-heading-tail {
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    display: var(--h5-tail-display);
    content: var(--h5-tail-content);
    vertical-align: var(--h5-tail-vertical-align);
}
