/**
h6  标题
*/

:root {
	--h6-font-family: var(--heading-font-family);
	--h6-font-weight: var(--heading-font-weight);
	--h6-color: var(--heading-color);
	--h6-font-size: 1rem;
	--h6-line-height: var(--heading-line-height);
	--h6-letter-spacing: var(--heading-letter-spacing);
	--h6-text-align: var(--heading-text-align);
	--h6-font-style: var(--heading-font-style);
	--h6-text-decoration-style: var(--heading-text-decoration-style);
	--h6-text-decoration-thickness: var(--heading-text-decoration-thickness);
	--h6-text-decoration-color: var(--heading-text-decoration-color);
	--h6-margin: var(--heading-margin);
	/* --h6-bg: var(--wewrite-primary); */
	--h6-bg: var(--wewrite-bg);
	--h6-border-bottom-width: var(--heading-border-bottom-width);
	/* --h6-border-bottom-color: var(--h6-bg); */
	--h6-border-bottom-color: var(--heading-border-bottom-color);
	--h6-border-bottom-style: var(--heading-border-bottom-style);
	/*  标题前缀 */
	--h6-prefix-display: none;
	--h6-prefix-color: var(--h6-color);
	--h6-font-style: normal;
	--h6-text-align: var(--h6-text-align);
	/*  标题主体 */
	--h6-outbox-display: block;
	--h6-outbox-radius: var(--wewrite-border-radius);
	--h6-outbox-padding: var(--heading-padding);
	/*  标题叶子 */
	--h6-leaf-display: block;
	--h6-leaf-padding: var(--heading-padding);
	--h6-leaf-color: var(--h6-color);
	/*  标题后缀 */
	/* --h6-tail-display: inline-block; */
	--h6-tail-display: none;
	--h6-tail-content: " ";
	--h6-tail-vertical-align: bottom;
	--h6-tail-display: var(--heading-tail-display);
	--h6-tail-content: var(--heading-tail-content);
	--h6-tail-shadow-color: var(--heading-tail-shadow-color);
	--h6-tail-shadow-height: var(--heading-tail-shadow-height);
	--h6-tail-shadow-width: var(--heading-tail-shadow-width);
	--h6-display: flex;
}

.wewrite h6 {
	font-family: var(--h6-font-family);
	font-weight: var(--h6-font-weight);
	font-size: var(--h6-font-size);
	line-height: var(--h6-line-height);
	letter-spacing: var(--h6-letter-spacing);
	text-align: var(--h6-text-align);
	color: var(--h6-color);
	font-style: var(--h6-font-style);
	text-decoration-style: var(--h6-text-decoration-style);
	text-decoration-thickness: var(--h6-text-decoration-thickness);
	text-decoration-color: var(--h6-text-decoration-color);
	margin: var(--h6-margin);
	border-bottom-width: var(--h6-border-bottom-width);
	border-bottom-style: var(--h6-border-bottom-style);
	border-bottom-color: var(--h6-border-bottom-color);
	display: var(--h6-display);
}


.wewrite h6 .wewrite-heading-prefix {
	display: var(--h6-prefix-display);
	color: var(--h6-prefix-color);
	font-style: var(--h6-font-style);
	text-align: var(--h6-text-align);

}

.wewrite h6 .wewrite-heading-outbox {
	border-top-right-radius: var(--h6-outbox-radius);
	border-top-left-radius: var(--h6-outbox-radius);
	background-color: var(--h6-bg);
	padding: var(--h6-outbox-padding);
	display: block;
}

.wewrite h6 .wewrite-heading-leaf {
	padding-left: var(--h6-leaf-padding);
	padding-right: var(--h6-leaf-padding);
	font-weight: var(--h6-font-weight);
	display: var(--h6-leaf-display);
	color: var(--h6-leaf-color)
}

.wewrite h6 .wewrite-heading-tail {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	display: var(--h6-tail-display);
	content: var(--h6-tail-content);
	vertical-align: var(--h6-tail-vertical-align);
	border-bottom: var(--h6-tail-shadow-height) solid var(--h6-tail-shadow-color);
	border-right: var(--h6-tail-shadow-width) solid transparent;
}
