:root {
	--image-border-radius: var(--wewrite-border-radius);
	--image-border-width: 0px;
	--image-border-color: transparent;
	--image-border-style: solid;
	--image-frame-padding: 0px;
	--image-caption-triangle: hidden;
	--image-caption-triangle-width: 0rem;
	--image-caption-margin-top: -1rem;
	--image-caption-text-color: var(--wewrite-text-color);
	--image-cation-font-size: 0.8rem;
	--image-caption-font-weight: normal;
	--image-caption-font-style: normal;
	--image-caption-font-family: var(--article-font-family);
	--image-caption-line-height: 1.5;
	--image-caption-text-align: center;
}

.wewrite img:not(.wewrite-profile-card img) {
	border-radius: var(--image-border-radius);
	border-width: var(--image-border-width); 
	border-style: var(--image-border-style);
	border-color: var(--image-border-color);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	margin: 0.0 0;
}

.image-with-caption {
	position: relative;
	display: inline-block;
	text-align: center;
	/* 默认居中，可通过类控制 */
	font-family: "Arial", sans-serif;
	border-radius: var(--image-border-radius);
	border-width: var(--image-border-width); 
	border-style: var(--image-border-style);
	border-color: var(--image-border-color);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: var(--image-frame-padding);
	margin: 0;
}

.image-with-caption img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* 对齐方式控制 */
.image-with-caption.align-left {
	text-align: left;
}

.image-with-caption.align-center {
	text-align: center;
}

.image-with-caption.align-right {
	text-align: right;
}

/* 伪元素作为图片标题 */
.image-caption {
	font-size: 0.9rem;
	color: gray;
	position: relative;
	margin-right: auto;
}

.image-caption-row {
	display: flex;
	align-items: center;
	gap: 0.5em;
	/* 三角形和文字之间的间距 */
	margin-bottom: 0.5em;
	position: relative;
	top: -0.3rem;
}

.image-with-caption .triangle {
	width: 0;
	height: 0;
	border: var(--image-caption-triangle-width, 0.3rem) solid transparent;
	border-bottom-color: var(--image-border-color, #555);
	position: relative;
	top: -0.3rem;
	margin-left: auto;
}

.wewrite .caption {
	font-size: 0.9rem;
	color: var(--image-border-color, #555);
	position: relative;
	width: 100%;
	text-align: center;
	top: var(--image-caption-margin-top, -2rem);
}

.wewrite .wewrite-image-caption {
	font-size: var(--image-cation-font-size);
	color: var(--image-caption-text-color);
	font-weight: var(--image-caption-font-weight);
	font-style: var(--image-caption-font-style);
	font-family: var(--image-caption-font-family);
	line-height: var(--image-caption-line-height);
	text-align: var(--image-caption-text-align);
	position: relative;
	width: 100%;
	text-align: var(--image-caption-text-align);
	top: var(--image-caption-margin-top, -2rem);
}
