:root {
	--blockquote-color: rgba(0, 0, 0, 0.5);
	--blockquote-border-color:  var(--blockquote-color);
	--blockquote-border-width: 0;
	--blockquote-border-style: solid;	
	--blockquote-border-radius: 4px;
	--blockquote-padding: 20px;
	--blockquote-margin: 0px;
	--blockquote-font-size: 1em;
	--blockquote-background-color: rgba(0, 0, 0, 0.05);
	--blockquote-font-family: var(--article-font-family);
	--blockquote-font-style: italic;
}

.wewrite blockquote {
	border-left-width: var(--blockquote-border-width);
	border-left-style: var(--blockquote-border-style);
	border-left-color: var(--blockquote-border-color);
	border-radius: var(--blockquote-border-radius);
	padding: var(--blockquote-padding);
	margin: var(--blockquote-margin);
	color: var(--wewrite-secondary);	
	background-color: var(--blockquote-background-color);
	line-height: var(--wewrite-line-height);
	text-indent: 0;
	color: var(--blockquote-color);
	font-family: var(--blockquote-font-family);
	font-size: var(--blockquote-font-size);
	font-style: var(--blockquote-font-style);
}

