.admonition {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.admonition.no-title .admonition-content {
    margin-top: 0;
    margin-bottom: 0;
}

.admonition li.task-list-item.is-checked p {
    text-decoration: line-through;
}

.admonition.no-drop {
    box-shadow: none;
}

.admonition.no-drop>.admonition-title.no-title+.admonition-content,
.admonition.no-drop .admonition .admonition-title.no-title+.admonition-content {
    margin-top: 0;
    margin-bottom: 0;
}

.admonition.no-drop .admonition .admonition-content {
    border-right: .0625em solid rgba(233, 233,123, .2);
    border-bottom: .0625em solid rgba(233, 233,123, .2);
}

.admonition.no-drop .admonition .admonition-title.no-title+.admonition-content {
    border-top: .0625em solid rgba(233, 233,123, .2);
}

:is(.markdown-source-view.mod-cm6) .admonition .math-block>mjx-container,
:is(.markdown-reading-view) .admonition .math-block>mjx-container {
    display: block;
    text-align: center;
    padding: 1em;
}

:is(.markdown-reading-view) .admonition .math-block>mjx-container {
    padding: .0625em;
}

*:not(.is-live-preview) .admonition.no-content {
    display: none;
}

.admonition {
    margin-top: 0px;
    margin-bottom: .75em;
}

.admonition.no-content {
    opacity: .1;
}

.admonition-content p {
    line-height: inherit;
    margin: revert;
}

.admonition-content p br {
    display: initial;
}

.admonition-content p ul>li>ul {
    border-left: 2px;
    border-left-color: #ababab;
    border-left-style: solid;
}

.admonition-content:first-child {
    margin-top: .8em;
}

.admonition-content:last-child {
    margin-bottom: .8em;
}

.admonition-title.no-title {
    display: none;
}

.admonition-title:hover+.admonition-content .admonition-content-copy {
    opacity: .7;
}

.admonition-content,
.callout-content {
    position: relative;
}

.admonition-content-copy {
    color: #ababab;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    margin: .375em;
    right: 0;
    top: 0;
    transition: .3s opacity ease-in;
}

.admonition-content-copy:hover {
    color: inherit;
}

.admonition:hover .admonition-content-copy,
.callout:hover .admonition-content-copy,
.admonition-content-copy:hover {
    opacity: 1;
}


.admonition-content ul,
.admonition-content ol {
    white-space: normal;
}

.admonition-title-icon,
.fa {
    height: 1.2em;
    width: 1.2em;
}
