/* icon */

.obsidian-icon {
	font-size: inherit;
	display: inline-block;
	width: 1.8rem;
	text-align: center;
}

/* p .obsidian-icon {
	width: 1.75em
} */

.obsidian-icon.react-icon>svg {
	vertical-align: middle;
	margin-bottom: 3px;
}

.obsidian-icon.react-icon{
	width: 1.8rem;;
}
