/* section */
.wewrite {
    min-width: 200px;
    max-width: 760px;
    padding: 1em 1em 1em 1em;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    word-break: break-word;
    line-height: 1.75;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
    color: #333;
    margin:0px;

}
/* headings */
.wewrite h1,
.wewrite h2,
.wewrite h3,
.wewrite h4,
.wewrite h5,
.wewrite h6 {
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.wewrite h1:first-child,
.wewrite h2:first-child,
.wewrite h3:first-child,
.wewrite h4:first-child,
.wewrite h5:first-child,
.wewrite h6:first-child {
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.wewrite h1::before,
.wewrite h2::before,
.wewrite h3::before,
.wewrite h4::before,
.wewrite h5::before,
.wewrite h6::before {
  content: "#";
  display: inline-block;
  color: #3eaf7c;
  padding-right: 0.23em;
}
.wewrite h1 {
  position: relative;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.wewrite h1::before {
  font-size: 1.5em;
}
.wewrite h2 {
  font-size: 2.2em;
  padding-bottom: 0.5em;
  /* border-bottom: 1px solid #ececec; */
}
.wewrite h3 {
  font-size: 1.5em;
  padding-bottom: 0;
}
.wewrite h4 {
  font-size: 1.25em;
}
.wewrite h5 {
  font-size: 1.15em;
}
.wewrite h6 {
  font-size: 1.05em;
  font-weight: 500;
}
/* @media (max-width: 720px) {
    .wewrite h1 {
      font-size: 24px;
    }
    .wewrite h2 {
      font-size: 20px;
    }
    .wewrite h3 {
      font-size: 18px;
    }
  } */
  
/* paragraph */
.wewrite p {
    line-height: inherit;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .wewrite strong {
    /* color: #3eaf7c; */
    font-weight: 600;
  }
  .wewrite img {
    max-width: 100%;
    border-radius: 2px;
    display: block;
    margin: auto;
    /* border: 3px solid rgba(62, 175, 124, 0.2); */
  }
  .wewrite hr {
    border-top: 1px solid #3eaf7c;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .wewrite .foot-links hr {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  .wewrite a {
    font-weight: 500;
    text-decoration: none;
    color: #3eaf7c;
  }
  .wewrite a:hover,
  .wewrite a:active {
    border-bottom: 1.5px solid #3eaf7c;
  }
  .wewrite a:before {
    content: "⇲";
  }


  /* blockquote */
  .wewrite blockquote {
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 0.5em solid rgba(62, 175, 124, 0.6);
    border-color: #42b983;
    background-color: #f8f8f8;
  }
  .wewrite blockquote::after {
    display: block;
    content: "";
  }
  .wewrite blockquote > p {
    margin: 10px 0;
  }

  /* summary */
  .wewrite details {
    border: none;
    outline: none;
    border-left: 4px solid #3eaf7c;
    padding-left: 10px;
    margin-left: 4px;
  }
  .wewrite details summary {
    cursor: pointer;
    border: none;
    outline: none;
    background: white;
    margin: 0px -17px;
  }
  .wewrite details summary::-webkit-details-marker {
    color: #3eaf7c;
  }
/* list */
.wewrite ol,
.wewrite ul {
  padding-left: 28px;
}
.wewrite ol li,
.wewrite ul li {
  margin-bottom: 0;
  list-style: inherit;
}
.wewrite ol li .task-list-item,
.wewrite ul li .task-list-item {
  list-style: none;
}
.wewrite ol li .task-list-item ul,
.wewrite ul li .task-list-item ul,
.wewrite ol li .task-list-item ol,
.wewrite ul li .task-list-item ol {
  margin-top: 0;
}
.wewrite ol ul,
.wewrite ul ul,
.wewrite ol ol,
.wewrite ul ol {
  margin-top: 3px;
}
.wewrite ol li {
  padding-left: 6px;
}
.wewrite ol li::marker {
  color: #3eaf7c;
}
.wewrite ul li::marker {
  color: #3eaf7c;
}


  /* icon */
  
.obsidian-icon {
    font-size: inherit;
    display: inline-block;
    width: 2em !important;
    text-align: center;
    /* margin-right: -0.5em !important; */
  }
  
  p .obsidian-icon {
    width: 1.75em !important;
  }
  
  .obsidian-icon.react-icon > svg {
    vertical-align: middle;
    margin-bottom: 3px;
  }

  /* footnote */
  .wewrite .footnote-id{
    color: gray;
    margin-right:0.5em;

  }
  .wewrite .footnote{
    font-size: 0.9em;
    font-weight: 300;
    margin-left: 0.5em;
  }
  