.wewrite .charts,
.wewrite .mermaid {
    display: flex;
    flex-direction: column;
    padding: 3px;
    border: solid 1px #ccc;
    border-radius: 3px;
}

.wewrite .charts image,
.wewrite .mermaid image
 {
    width: 100%;
    margin: auto;
}