/* code section */

.wewrite code {
  display: inline;
  color: rgb(153, 153, 153);
}

.wewrite .code-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: #1E1E1E;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 10px 10px -10px;
}


.wewrite .code-section-banner {
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="450px" height="130px"><ellipse cx="65" cy="65" rx="50" ry="52" stroke="rgb(220,60,54)" stroke-width="2" fill="rgb(237,108,96)"></ellipse> <ellipse cx="225" cy="65" rx="50" ry="52" stroke="rgb(218,151,33)" stroke-width="2" fill="rgb(247,193,81)">  </ellipse>  <ellipse cx="385" cy="65" rx="50" ry="52" stroke="rgb(27,161,37)" stroke-width="2" fill="rgb(100,200,86)">  </ellipse> </svg>'); */
  background-image: url('https://mmbiz.qpic.cn/mmbiz_svg/QAm7hEbaujTQuIH8VVl7W7PicH14grAZxd7oUx579CB2wpytwlLSpiaq2DXBpNUz8R6ckkAuO8tBLr52XjAsvR67mh3oibs2dYK/640?wx_fmt=svg&from=appmsg&tp=webp&wxfrom=15&wx_lazy=1');
  background-position: 10px 10px;
  background-size: 40px auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 100%;
}
/* https://mmbiz.qpic.cn/mmbiz_svg/QAm7hEbaujTQuIH8VVl7W7PicH14grAZxd7oUx579CB2wpytwlLSpiaq2DXBpNUz8R6ckkAuO8tBLr52XjAsvR67mh3oibs2dYK/640?wx_fmt=svg&from=appmsg&tp=webp&wxfrom=15&wx_lazy=1 */

.wewrite .code-section {
  display: flex;
  flex-grow: 1;
  font-size: 0.9rem;
  line-height: 1.6rem;
}

.wewrite .code-section pre {
  position: relative;
  padding:0;
  margin: 0;
  overflow: auto;
}


.wewrite .code-section code {
  display: block;
  padding: 10px 5px!important;
  font-family: Consolas, Monaco, Menlo, monospace;
  text-wrap: nowrap;
}

.wewrite .code-section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 10px 3px 0 1rem;
  white-space: normal;
  width: fit-content;
  user-select: none;
  border-right: solid 0.5px rgb(166, 166, 166);
}
.wewrite .code-section ul > li {
  position: relative;
  margin: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6rem;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  list-style-type: none;
  color: rgb(166, 166, 166);
}
.wewrite .code-section ul > li::marker {
  content: none;
}

/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */
.wewrite .hljs {
  /* background: #1E1E1E; */
  color: #DCDCDC
}

.wewrite .hljs-keyword,
.wewrite .hljs-literal,
.wewrite .hljs-symbol,
.wewrite .hljs-name {
  color: #569CD6
}

.wewrite .hljs-link {
  color: #569CD6;
  text-decoration: underline
}

.wewrite .hljs-built_in,
.wewrite .hljs-type {
  color: #4EC9B0
}

.wewrite .hljs-number,
.wewrite .hljs-class {
  color: #B8D7A3
}

.wewrite .hljs-string,
.wewrite .hljs-meta .hljs-string {
  color: #D69D85
}

.wewrite .hljs-regexp,
.wewrite .hljs-template-tag {
  color: #9A5334
}

.wewrite .hljs-subst,
.wewrite .hljs-function,
.wewrite .hljs-title,
.wewrite .hljs-params,
.wewrite .hljs-formula {
  color: #DCDCDC
}

.wewrite .hljs-comment,
.wewrite .hljs-quote {
  color: #57A64A;
  font-style: italic
}

.wewrite .hljs-doctag {
  color: #608B4E
}

.wewrite .hljs-meta,
.wewrite .hljs-meta .hljs-keyword,
.wewrite .hljs-tag {
  color: #9B9B9B
}

.wewrite .hljs-variable,
.wewrite .hljs-template-variable {
  color: #BD63C5
}

.wewrite .hljs-attr,
.wewrite .hljs-attribute {
  color: #9CDCFE
}

.wewrite .hljs-section {
  color: gold
}

.wewrite .hljs-emphasis {
  font-style: italic
}

.wewrite .hljs-strong {
  font-weight: bold
}

.wewrite .hljs-code {
  font-family: 'Monospace';
}

.wewrite .hljs-bullet,
.wewrite .hljs-selector-tag,
.wewrite .hljs-selector-id,
.wewrite .hljs-selector-class,
.wewrite .hljs-selector-attr,
.wewrite .hljs-selector-pseudo {
  color: #D7BA7D
}

.wewrite .hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%
}

.wewrite .hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%
}
