/* code section */

.wewrite code {
  display: inline;
  color: rgb(153, 153, 153);
}

.wewrite .code-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: #1E1E1E;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 10px 10px -10px;
}


.wewrite .code-section-banner {
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="450px" height="130px"><ellipse cx="65" cy="65" rx="50" ry="52" stroke="rgb(220,60,54)" stroke-width="2" fill="rgb(237,108,96)"></ellipse> <ellipse cx="225" cy="65" rx="50" ry="52" stroke="rgb(218,151,33)" stroke-width="2" fill="rgb(247,193,81)">  </ellipse>  <ellipse cx="385" cy="65" rx="50" ry="52" stroke="rgb(27,161,37)" stroke-width="2" fill="rgb(100,200,86)">  </ellipse> </svg>'); */
  background-image: url('https://mmbiz.qpic.cn/mmbiz_svg/QAm7hEbaujTQuIH8VVl7W7PicH14grAZxd7oUx579CB2wpytwlLSpiaq2DXBpNUz8R6ckkAuO8tBLr52XjAsvR67mh3oibs2dYK/640?wx_fmt=svg&from=appmsg&tp=webp&wxfrom=15&wx_lazy=1');
  background-position: 10px 10px;
  background-size: 40px auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 100%;
}
/* https://mmbiz.qpic.cn/mmbiz_svg/QAm7hEbaujTQuIH8VVl7W7PicH14grAZxd7oUx579CB2wpytwlLSpiaq2DXBpNUz8R6ckkAuO8tBLr52XjAsvR67mh3oibs2dYK/640?wx_fmt=svg&from=appmsg&tp=webp&wxfrom=15&wx_lazy=1 */

.wewrite .code-section {
  display: flex;
  flex-grow: 1;
  font-size: 0.9rem;
  line-height: 1.6rem;
}

.wewrite .code-section pre {
  position: relative;
  padding:0;
  margin: 0;
  margin-right: 1rem;
  overflow: auto;
}


.wewrite .code-section code {
  display: block;
  padding: 10px 5px!important;
  padding-left: .5em;
  font-family: Consolas, Monaco, Menlo, monospace;
  text-wrap: nowrap;
}

.wewrite .code-section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 10px 3px 0 1rem;
  white-space: normal;
  width: fit-content;
  user-select: none;
  border-right: solid 0.5px rgb(166, 166, 166);
}
.wewrite .code-section ul > li {
  position: relative;
  margin: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6rem;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  list-style-type: none;
  color: rgb(166, 166, 166);
}
.wewrite .code-section ul > li::marker {
  content: none;
}

.wewrite pre code .hljs {
	display: block;
	overflow-x: auto;
	padding: 1em
  }
  .wewrite code .hljs {
	padding: 3px 5px
  }
  /*
  
  Atom One Dark by Daniel Gamage
  Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
  
  base:    #282c34
  mono-1:  #abb2bf
  mono-2:  #818896
  mono-3:  #5c6370
  hue-1:   #56b6c2
  hue-2:   #61aeee
  hue-3:   #c678dd
  hue-4:   #98c379
  hue-5:   #e06c75
  hue-5-2: #be5046
  hue-6:   #d19a66
  hue-6-2: #e6c07b
  
  */
  .wewrite .hljs {
	color: #abb2bf;
	background: #282c34
  }
  .wewrite .hljs-comment,
  .wewrite .hljs-quote {
	color: #5c6370;
	font-style: italic
  }
  .wewrite .hljs-doctag,
  .wewrite .hljs-keyword,
  .wewrite .hljs-formula {
	color: #c678dd
  }
  .wewrite .hljs-section,
  .wewrite .hljs-name,
  .wewrite .hljs-selector-tag,
  .wewrite .hljs-deletion,
  .wewrite .hljs-subst {
	color: #e06c75
  }
  .wewrite .hljs-literal {
	color: #56b6c2
  }
  .wewrite .hljs-string,
  .wewrite .hljs-regexp,
  .wewrite .hljs-addition,
  .wewrite .hljs-attribute,
  .wewrite .hljs-meta .wewrite .hljs-string {
	color: #98c379
  }
  .wewrite .hljs-attr,
  .wewrite .hljs-variable,
  .wewrite .hljs-template-variable,
  .wewrite .hljs-type,
  .wewrite .hljs-selector-class,
  .wewrite .hljs-selector-attr,
  .wewrite .hljs-selector-pseudo,
  .wewrite .hljs-number {
	color: #d19a66
  }
  .wewrite .hljs-symbol,
  .wewrite .hljs-bullet,
  .wewrite .hljs-link,
  .wewrite .hljs-meta,
  .wewrite .hljs-selector-id,
  .wewrite .hljs-title {
	color: #61aeee
  }
  .wewrite .hljs-built_in,
  .wewrite .hljs-title.class_,
  .wewrite .hljs-class .wewrite .hljs-title {
	color: #e6c07b
  }
  .wewrite .hljs-emphasis {
	font-style: italic
  }
  .wewrite .hljs-strong {
	font-weight: bold
  }
  .wewrite .hljs-link {
	text-decoration: underline
  }
