:root {
   
}
:root{
	--text-color: var(var(--color-dark));
	--background-color: var(--color-light);
	--link-color: var(--color-primary);
	--header-color: var(--color-dark);
	--footer-color: var(--color-dark);
	--border-color: var(--color-gray);
	--border-radius: 0.25rem;
	--box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-size-base: 1rem;
	--font-size-lg: 1.25rem;
}

