/* table */
.wewrite .table-container {
    display: flex;
    width: 100%;
    overflow: auto;
    padding: 1px;
}

.wewrite table {
    border-collapse: collapse;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: auto;
}

.wewrite thead {
    background: #3eaf7c !important;
    color: #fff;
    text-align: left;
}

.wewrite tr:nth-child(2n) {
    background-color: rgba(62, 175, 124, 0.2);
}

.wewrite th {
    background: #3eaf7c !important;
    color: #fff;
}

.wewrite th,
.wewrite td {
    padding: 12px 7px;
    line-height: 24px;
}

.wewrite td {
    min-width: 120px;
}

.wewrite tr:hover {
    background-color: #f1f1f1;
    /* 行悬停效果 */
}